@import 'template/main';

.container__cardRotate04{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include size(100vw, 100vh);
    background: $fondo;
    gap: 15rem;
    overflow: auto;

    perspective: 62.5rem;

    & .cardsRotate04{
        @include size(18.75rem, 18.75rem);
        background: transparent;
        position: relative;

        transform-style: preserve-3d;

        & .cardRotate04{
            transition: all .4s linear .2s;

            position: absolute;
            @include size(18.75rem, 18.75rem);
            // background: $fondo3;
            display: grid;
            place-items: center;
            &__title, &__paragraph{ color: white; }
            &__paragraph{ text-align: center; margin: 0.625rem 3.125rem; }
            & .cardRotate04__paragraph{ transition: all .4s linear .2s; }
            & .cardRotate04__paragraph::selection {
                background: rgb(0, 102, 133);
            }
            
        }
        & .cardRotate04__1{
            transform: translateZ(0.125rem) rotateX(0deg);
            opacity: 1;
        }
        & .cardRotate04__2{
            transform: translateZ(0.063rem) rotateX(0deg);
            opacity: 0;
        }
        &:hover .cardRotate04__2{
            opacity: 1;
        }
        &:hover .cardRotate04__1{
            opacity: 0;
        }
        &:hover .cardRotate04{
            transform: translateZ(0.063rem) rotateX(180deg) ;
            & .cardRotate04__paragraph{
                transform: translateZ(0.063rem) rotateX(180deg);
            }
            &:after{
                content: '';   
                @include size(18.75rem, 18.75rem);
                position: absolute;
                background: #0000008f;
                z-index: -1;
            }
        }
    }
}
